.container
  .row.row-xs-bottom.demo
    .col-xs-1.col-xs-first
      .col-inner
        1
    .col-xs-1.col-xs-last
      .col-inner
        2
    .col-xs-1.col-xs-top
      .col-inner
        3
    .col-xs-1
      .col-inner
        4
    .col-xs-1
      .col-inner
        5
    .col-xs-1
      .col-inner
        6
    .col-xs-1
      .col-inner
        7
    .col-xs-1
      .col-inner
        8
    .col-xs-1
      .col-inner
        9
    .col-xs-1
      .col-inner
        10
    .col-xs-1
      .col-inner
        11
    .col-xs-1
      .col-inner
        12

.container
  .card-deck
    .card
      .card-inner
        あああああああああああ
    .card
      .card-inner
        あああああああああああ
    .card
      .card-inner
        あああああああああああ
    .card
      .card-inner
        あああああああああああ
    .card
      .card-inner
        あああああああああああ
    .card
      .card-inner
        あああああああああああ
    .card
      .card-inner
        あああああああああああ
    .card
      .card-inner
        あああああああああああ
    .card
      .card-inner
        あああああああああああ
    .card
      .card-inner
        あああああああああああ
    .card
      .card-inner
        あああああああああああ
    .card
      .card-inner
        あああああああああああ
  .card-deck
    .card
      .card-inner
        あああああああああああ
    .card
      .card-inner
        あああああああああああ
    .card
      .card-inner
        あああああああああああ
    .card
      .card-inner
        あああああああああああ
